<script lang="ts">
import Vue from 'vue';

// eslint-disable-next-line @gitlab/no-runtime-template-compiler
export default Vue.extend({
  name: 'Party',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div class="party">
    <SlpContainer>
      <SlpRow>
        <SlpColumn :cols="7" class="party__text-container">
          <nuxt-img
            style="width: 32px"
            class="slp-mt-48"
            src="/nuxt-images/icons/events/celebrate-icon_celebrate-96px.svg"
          />
          <SlpTypography class="slp-pb-32" variant="heading2-bold" tag="h2">{{
            data.title
          }}</SlpTypography>
          <SlpTypography class="slp-pb-32" variant="body1" tag="p">{{
            data.information
          }}</SlpTypography>
          <div
            v-for="item in data.subheadings"
            :key="item.value"
            class="slp-pb-24 slp-flex"
          >
            <nuxt-img
              style="width: 24px"
              class="slp-mr-16"
              :src="`/nuxt-images/icons/events/${item.icon}`"
            />

            <SlpTypography>{{ item.value }}</SlpTypography>
          </div>
          <SlpButton
            variant="secondary"
            :href="data.call_to_action.button_link"
            >{{ data.call_to_action.button_text }}</SlpButton
          >
          <SlpTypography class="slp-mt-64 slp-mb-16" variant="body2" tag="p"
            >Sponsored by</SlpTypography
          >
          <SlpColumn :cols="10">
            <nuxt-img
              class="slp-mr-24 slp-mb-8"
              height="25"
              src="/nuxt-images/logos/gitlab.svg"
            />
            <nuxt-img
              v-for="sponsor in data.sponsors"
              :key="sponsor"
              class="slp-mr-24 slp-mb-8"
              height="25"
              :src="`/nuxt-images/events/aws-reinvent/sponsors/${sponsor}`"
            />
          </SlpColumn>
          <div></div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.party {
  background-color: #171321;
  background-image: url('/nuxt-images/events/full.svg');
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  color: #f6f3fe;
  padding: $spacing-96 $spacing-0 $spacing-32;

  &__text-container {
    background: rgba(23, 19, 33, 0.8);
    padding: $spacing-64;
  }
}
</style>
